h4.title_news{
    border-bottom: 1px dashed #DDDDDD;
    padding: 25px 0 15px;
}
.title_news a{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
    color: #000;
    text-decoration: none;
}  
.title_news a:hover{
    text-decoration: none;
    color:#000;
}
.nav{
    border-bottom: 1px dashed #DDDDDD;
}
span{
    padding-right: 10px;
    opacity: 0.8;
}
    