.title_products {
    font-size: 26px;
    color: #000;
}

a.products_name {
    color: #555;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    line-height: 25px;
}

a.products_name:hover {
    text-decoration: none;
    color: #000;
}   

.products{
    border-bottom: 1px dashed #DDDDDD;
}