.w3-dropdown-hover:first-child {
    background-color: #fff !important;
    color: #000;
}

.w3-dropdown-hover {
    background-color: #fff !important;
    color: #000;
}
.w3-button:hover{
    text-decoration: none;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
  }
  div.w3-font{
      font-size: 15px;
  }