span.fas.fa-mail-bulk::before {
    position: absolute;
    top: 33%;
    left: 60%;
}
.form_newsletter input::placeholder{
    font-size: 14px;
    opacity: 0.6;
}
i.fab::before{
    font-size: 20px;
}
hr{
    border: 2px solid #DDDDDD!important;
}
h5.scroll{
    position: fixed;
    top: 75%;
    left: 95%;
}
i.fas.fa-caret-square-up::before{
    font-size: 30px;
}